body {
  font-family: Arial, sans-serif;
  background: $bg-color;
  padding: 30px;
}

h1 {
  text-align: center;
  color: $primary;
}

.container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
